# Capstone Project Week 3 -- Part 2

## Segmenting and Clustering Neighborhoods in Toronto

Installing libraries

In [1]:
import pandas as pd

Get the geospatial Coordinates Data from https://cocl.us/Geospatial_data

In [2]:
# get the data and create the dataframe
url = 'https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Adjusting the dataset with part 1

In [3]:
df_geo = df_geo.rename(columns = {'Postal Code':'PostalCode'}) 
df_geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Upload the first dataset

In [4]:
#the first dataset where we save it as csv file in part 1
col_list=["PostalCode", "Borough", "Neighborhood"]
df3=pd.read_csv('Capstone_part1.csv', usecols=col_list)
df3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

Merge two dataframes based on the 'PostalCode' column

In [5]:
df3=pd.merge(df3, df_geo, on = 'PostalCode')
df3.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Get the number of rows of dataframe

In [6]:
df3.shape

(103, 5)

Save the file as csv file for using in part 3

In [7]:
#Save data as'Capstone_part2.csv'
df3.to_csv('Capstone_part2.csv', index=False)
print('Successfully Saved!')

Successfully Saved!